$color-brown: #93827F;
$color-pink: #C492B1;
$color-green-light: #B8FAD6;
$color-green: #35CE8D;
$color-green-dark: #6BA292;

.-brown {
    background-color: $color-brown;
}

.-pink {
    background-color: $color-pink;
}

.-green-light {
    background-color: $color-green-light;
}

.-green {
    background-color: $color-green;
}

.-green-dark {
    background-color: $color-green-dark;
}
