$color-brown: #93827F;
$color-pink: #C492B1;
$color-green-light: #B8FAD6;
$color-green: #35CE8D;
$color-green-dark: #6BA292;

$color-brown-sub: #6B5F5D;
$color-pink-sub: #8F6B81;
$color-green-light-sub: #86B69C;
$color-green-sub: #279667;
$color-green-dark-sub: #4E766B;

$color-paper: #FFFEF7;

.-brown {
    background-color: $color-brown;
}

.-pink {
    background-color: $color-pink;
}

.-green-light {
    background-color: $color-green-light;
}

.-green {
    background-color: $color-green;
}

.-green-dark {
    background-color: $color-green-dark;
}
